[mysqld]
port = 3306

# 在MYSQL暂时停止响应新请求之前，短时间内的多少个请求可以被存在堆栈中。如果系统在短时间内有很多连接，则需要增大该参数的值，该参数值指定到来的TCP/IP连接的监听队列的大小。默认值50。
back_log = 600

# MySQL允许最大的进程连接数，如果经常出现Too Many Connections的错误提示，则需要增大此值。
max_connections = 5000

# 慢查询配置
slow_query_log = ON
long_query_time = 0.5
slow_query_log_file = /var/log/mysql/slowquery.log
log_queries_not_using_indexes = ON

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default-storage-engine = InnoDB

[mysqldump]
quick
max_allowed_packet = 10240M

# 对本地的mysql客户端的配置
[client]
default-character-set = utf8mb4

# 对其他远程连接的mysql客户端的配置
[mysql]
default-character-set = utf8mb4